
app-header {
	width: 100%;
}

.view-container {
	height: 100vh;
	position: relative;
	z-index: 1;
    background-color: #85bcc8;
    padding: 5px;
}

.view {
	background-color: grey;
	height: 100%;
	width: 100%;
}